<% include partials/header.ejs %>
<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>


<div class="panel panel-default">
	 <div class="panel-heading">Panel heading without title</div>
	<div class="btn-group-vertical class="panel-body"">
	<% for(var i=0; i<buttons.length; i++) { %>
		<button type="button" class="btn btn-success" id="b<%=buttons[i].id %>"><%=buttons[i].name %> </button>
</br>
	<% } %>
	</div>
</div>

<script>
	$('button').click( function() {
		//alert('Clicked button ' + this.id );
		if( $(this).hasClass('btn-danger') ) {
			$(this).removeClass('btn-danger');
			$(this).addClass('btn-success');
			//$(this).html("OFF");
		}
		else {
			$(this).removeClass('btn-success');
			$(this).addClass('btn-danger');
//$(this).html("ON");
		}
});
</script>

<% include partials/footer.ejs %>
